<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjpowernode.mapper.ClueMapper">
    <sql id="clueSql">
        <where>
            <if test="data.fullName != null and data.fullName!=''">
                and  fullName like concat('%',#{data.fullName},'%')
            </if>
            <if test="data.company !=null and data.company !=''">
                and company like concat('%',#{data.company},'%')
            </if>
            <if test="data.mphone !=null and data.mphone !=''">
                and mphone like concat('%',#{data.mphone},'%')
            </if>
            <if test="data.phone !=null and data.phone !=''">
                and phone like concat('%',#{data.phone},'%')
            </if>
            <if test="data.owner !=null and data.owner !=''">
                and owner like concat('%',#{data.owner},'%')
            </if>
            <if test="data.source !=null and data.source !=''">
                and source=#{data.source}
            </if>
            <if test="data.state !=null and data.state !=''">
                and state=#{data.state}
            </if>
        </where>
    </sql>
    <select id="getPage" resultType="Clue">
  select * from tbl_clue
        <include refid="clueSql"/>
  limit #{startIndex},#{getRowsPerPage}
    </select>

    <select id="getOne" resultType="Clue">
        select * from tbl_clue where id=#{id}
    </select>
    <select id="getCount" resultType="int">
        select count(*) from tbl_clue
        <include refid="clueSql"/>
    </select>
</mapper>
