<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--扫描web组件-->
    <context:component-scan base-package="com.bjpowernode.web" />

    <!--启用注解驱动-->
    <mvc:annotation-driven />

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--静态资源处理-->
    <mvc:default-servlet-handler />

    <!--&lt;!&ndash;配置站点入口&ndash;&gt;-->
    <!--<mvc:view-controller path="/" view-name="index" />-->
    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/user/login.do"/>
            <!--*********************************************-->
            <!--*********************************************-->
            <mvc:exclude-mapping path="/"/>
            <bean class="com.bjpowernode.web.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--配置文件解析器 id: 必须是 multipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--&lt;!&ndash; 一次最大的上传总大小最大为 5M &ndash;&gt;
       <property name="maxUploadSize" value="#{1024*1024*5}" />
       &lt;!&ndash; 一次性可以上传多个文件，每个文件的最大为1M &ndash;&gt;
       <property name="maxUploadSizePerFile" value="#{1024*1024*1}" />-->
    </bean>

</beans>